@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
.consultation-select-container{
    margin-top: 25px;
    border: #CECECE solid 1px;
    background: white;
    padding: 15px 32px 20px;
    min-width: 400px;
}
label{
    font-family: "Roboto Text Medium";
}
.comment{
    margin-top: 15px;
}

