
@font-face {
    font-family: 'Roboto Text Regular';
    src: url("/fonts/Roboto/Roboto-Regular.ttf")
}
@font-face {
    font-family: 'Roboto Text Medium';
    src: url("/fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: 'Roboto Text Bold';
    src: url("/fonts/Roboto/Roboto-Bold.ttf");
}
.container-consultations{
    font-family: "Roboto Text Regular";
}

